.school-logo h3 {color:#fff; color:black !important;  margin-top:15px; margin-bottom:20px;}
.sans-serif{font-family:'Roboto', sans-serif !important;}
.serif{font-family:'Roboto Slab', serif !important;}
.tall-text{font-family: 'Roboto Condensed', sans-serif;}
.header-line1{font-size: 70px; color:#fff;font-weight: bold;line-height: 80px;padding-top: 25px;}
.header-line2{font-size: 30px; color:#000;line-height: 0px;font-weight: bold;margin-top:-15px;}
.school-logo{}
hr.line{color: #ffdd00;width: 100px;border-top: 2px solid #ffdd00; width: 100px;}
.athletic-logo img{float:left; padding-top:8px; margin-right:25px;}
.color-primary{background-color:#1E4578 !important; color:white !important;}
.color-secondary{background-color:#bdbdbd !important; color:black !important;}
.header-bar{background-color: #fff; color:black !important;}
.school-logo img {width:200px; height: auto; padding-top:5px;}
.intro-text {margin-bottom:20px}
.total-panel, .panel-heading {border:none !important;}
.total-panel {font-size: 15px; text-align: center;}
.total-panel .panel-body{font-size: 50px; font-weight: bold; text-align: center;}
.sports-grid{margin-top:50px;}
.sport-panel .panel-body{padding:0px !important;}
.sport-panel .panel-heading{padding:0px 15px !important; height:28px;}
.sport-panel img{width: 100%; height: auto;}
.sport-name{font-size:20px;}
.sport-total{font-size:20px;font-weight: bold;}
.sport-total span{font-size: 15px;font-weight: normal;}
.panel-footer{padding-top: 0px; padding-bottom: 7px; border:none;}
.btn-donate{text-align: center; padding:5px; font-size: 20px; font-weight: bold;}
.btn-donate {color:#fff; text-decoration: none; border-color: #fff !important;
border:solid 1px; background-color: #F1B434 !important;border-radius: 10px;}
.btn-donate:hover{  color: #333 !important;
  background-color: #E6E6E6 !important;
  border-color: #ffdd00 !important;
  border:solid 1px;
}
a:hover{text-decoration: none; }
.nav-donate{height:40px;margin:5px;background-color: #F1B434;border: none;color: #FFF;font-size: 15px;}

.how-it-works, .players{margin-top:50px;padding-top:10px; border-top:solid 10px #ffdd00;}
.section-title{text-align: center;}
.steps{margin-top:30px;}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; vertical-align: middle; }
.box > .icon > .image > i { font-size: 60px !important; color: #fff !important; }
.box > .icon > .info { margin-top: -24px; padding: 15px 0 10px 0; }
.box > .icon > .info > h3.title { font-size: 16px; color: #fff; font-weight: 500; }
.box > .icon > .info > p { font-size: 13px; color: #afafaf; line-height: 1.5em; margin: 20px;}
.box > .icon > .info > .more a { font-size: 12px; color: #000; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box .space { height: 30px; }

.questions{padding-bottom: 20px;}
.contact-info{text-align:center; width:300px; margin: 0 auto;}
.questions i{color:#ffdd00; font-size: 35px; padding: 0 30px 0 30px;}
.fa-envelope-o{padding-right:50px}
.questions a {color:#000;}
.donorplay-footer{background-color: #000; text-align: center; padding: 25px 0 25px 0; color: #fff;}
.call-to-action{font-size: 50px;text-transform: uppercase;text-align: center;font-weight: bold; line-height:50px; margin-bottom:15px; padding-top: 20px}
.team .sports-grid .panel-body{height:250px; padding:0 10px 0 10px!important;}
.stat-total{font-size:75px; padding-bottom:15px; font-weight: bold;}
.team .sport-panel{margin:0px !important; border:none;}
.team .team-stat{padding-bottom:8px;}
.player-list{padding:25px 0 35px 0;}
.players img{width:100px; height:auto;}
.player-pos{ font-size: 10px; line-height: 5px; padding-bottom: 25px;}
.player-total{font-size: 25px;}
.mobile-tagline .tagline{font-size: 30px;}
.mobile-tagline{margin-bottom: 25px;}
.sports-grid .col-sm-4{margin-bottom:20px;}
.player-list .col-md-3{margin-bottom:20px;}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
      .athletic-logo{text-align: center}
      .athletic-logo img{float:none;}
      .header {height:160px; margin-bottom:0px;}
      .intro .btn-donate{margin-bottom:20px;}
      .player-list{margin: 0 auto; width: 300px;}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .header-line1 {
        font-size: 40px;
        color: #FFF;
        font-weight: bold;
        line-height: 50px;
        padding-top: 45px;
      }
      .header-line2 {
        font-size: 20px;
      }
      .athletic-logo img{float:left;}
      .athletic-logo{text-align: left; }
      .header {height:160px; margin-bottom:50px}
      .stat-total{font-size: 50px;}
      .player-list{margin: initial; width: initial;}
    }


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .header-line1 {
        font-size: 70px;
        color: #FFF;
        font-weight: bold;
        line-height: 80px;
        padding-top: 25px;
      }
      .header-line2 {
        font-size: 30px;
      }
      .stat-total{font-size: 75px;}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
